table inet ai_bybit {
  chain input {
    type filter hook input priority 0;
    ct state established,related accept
    iifname "lo" accept
    iifname "wg0" ip saddr 10.70.0.2 tcp dport 8443 accept
    tcp dport 8443 drop
  }
}
